@import '../../globals.scss';

.inputbox {
    position: absolute;
    right: 0;
    display: inline-block;
}

.value {
    color: $fontColor;
    display: block;
    border: 1px solid #d7d6d6;
    background: $siteColor;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 3px;
    width: 10rem;
    font-family: 'Montserrat', sans-serif;
}

.unit {
    position: absolute;
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    left: 5px;
    top: 3px;
    z-index: 9;
    font-family: 'Montserrat', sans-serif;
}