@import '../../globals.scss';

.buttonA {
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
    font-weight: bold;
    text-decoration: none;
    background: $buttonColorA;
    border: none;
    color: $fontColor;
    padding: 15px 52px;
    width: 400px;

    &:active {
        background: darken($color: $buttonColorA, $amount: 10);
    }
}
.buttonB {
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
    font-weight: bold;
    text-decoration: none;
    background: $buttonColorB;
    border: none;
    color: $fontColor;
    padding: 15px 22px;
    width: 190px;
    float: right;

    &:active {
        background: darken($color: $buttonColorB, $amount: 10);
    }
}
