@import '../../globals.scss';

.form {
    background: $siteColor;
    color: $fontColor;
    padding: 1rem 4rem;
    font-family: 'Montserrat', sans-serif;
}
.title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
.section {
    position: relative;
}
.sectiontitle {
    display: inline-block;
}
.money {
    position: absolute;
    right: 0;
}
.sectionresults {
    position: relative;
    background: darken($color: $siteColor, $amount: 3);
    padding: 0 1rem;
    
    p {
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
    }
    p:last-child {
        float: right;
        font-size: 3rem;
        margin: 0;
    }
}